@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

.font-container {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}

.cursor-pointer{
  
}



@tailwind base;
@tailwind components;
@tailwind utilities;